<!doctype html>
<title>MMM</title>
<a href="/cleanup" onclick="return confirm('Are you sure to delete all stats?')">Delete all stats</a><br>
<menu><input type="text" name="time_min" value="{{ time_min }}" onfocusout="graph()"></menu><br>
<div>
  Registered number of minions: {{ minions }}<br> 
  Overall time: {{ time }}
</div>
<link href="http://nvd3.org/assets/css/nv.d3.css" rel="stylesheet">
<script src="http://nvd3.org/assets/lib/d3.v3.js"></script>
<script src="http://nvd3.org/assets/js/nv.d3.js"></script>
<div id='chart'>
  <svg style='height:500px'> </svg>
</div>
<script>
function graph() {
  var time_min = document.getElementsByName("time_min")[0].value;

var data = {{ data|tojson|safe }};
  nv.addGraph(function() {
  var chart = nv.models.lineChart()
    .useInteractiveGuideline(true)
    .x(function(d) { return (d[1]-time_min)/1000000000 })
    .y(function(d) { return d[0] })
    ;
  chart.xAxis
    .axisLabel('Time (seconds)');
  chart.yAxis
    .axisLabel('Containers (#)');
  d3.select('#chart svg')
    .datum(data)
    .call(chart)
    ;
  nv.utils.windowResize(chart.update);
  return chart;
  });
}
graph();
</script> 
